@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("reset.css");
@import url("edit.css");

@import url("newpost.css");

body {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    font-size: 0.8rem;
    padding-top: 4rem;
}
.frame {
    width: 750px;
    padding: 50px 50px 70px 50px;
    background-color: white;
    margin-bottom: 3rem;
}

.frame input[type="text"] {
    display: block;
}

textarea {
    outline: none;
    border: none;
    background-color: #eeeeee;
}

.frame header span {
    display: block;
    margin-bottom: 0.1rem;
}

.frame header span.description {
    font-family: "Ramaraja", serif;
    font-size: 1.1rem;
}

.capsmallfont {
    letter-spacing: 2px;
    font-size: 0.75rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

h1.title {
    margin-bottom: 100px;
    width: 55%;
    /* border: 1px solid khaki; */
}

.frame section.book_body {
    line-height: 1.5;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    overflow-x: auto;
}

.frame section.book_body,
.frame section.like {
    margin-left: 295px;
}

a.cancel,
a.delete {
    position: absolute;
    right: 0;
    bottom: 0;
}

a.edit {
    position: absolute;
    right: 100px;
    bottom: 0;
}

.frame section.like {
    width: 120px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.frame section.like i {
    font-size: 1rem;
    margin-right: 0.8rem;
    color: #e64732;
}

h1 {
    font-family: "Ramaraja", serif;
    font-size: 6rem;
    line-height: 1;
}

h4 {
    font-family: "Ramaraja", serif;
    font-size: 2rem;
}

input[type="submit"],
a.delete,
a.edit {
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: inherit;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

a.cancel,
a.delete {
    background-color: gray;
}

input[type="submit"] {
    position: absolute;
    padding: 0.8rem 1.5rem;
    right: 110px;
    bottom: 0;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #e64732;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a.newPost {
    font-family: Ramaraja;
    padding: 1.2rem 3rem 0.8rem 3rem;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media (min-width: 320px) and (max-width: 767px) {
    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 4.8rem;
    }

    a.newPost {
        width: 90vw;
    }

    .frame {
        width: 90vw;
        background-color: white;
        word-wrap: break-word;
        padding: 45px 45px 60px 45px;
    }

    div.title {
        width: 100%;
    }

    .frame header {
        width: 100%;
    }

    .frame section.book_body,
    .frame section.like {
        margin-left: 0;
    }

    .frame header.book_header {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
    }

    input.bookTitle {
        font-family: karla;
        font-size: 3rem;
        line-height: 1;
        width: 100%;
    }
}
